camel/servicemix-camel/src/main/resources/schema/smxEndpoint.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/camelEndpoint/'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/camelEndpoint/'>

  <!-- element for type: org.apache.servicemix.camel.ServiceMixEndpoint -->
  <xs:element name='smxEndpoint'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Created by IntelliJ IDEA.
User: gnodet
Date: Sep 19, 2007
Time: 8:54:34 AM
To change this template use File | Settings | File Templates.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='component' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='exchangePattern' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='executorService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='component' type='xs:string'/>
      <xs:attribute name='endpointName' type='xs:string'/>
      <xs:attribute name='exchangePattern' type='xs:string'/>
      <xs:attribute name='executorService' type='xs:string'/>
      <xs:attribute name='uri' type='xs:string'/>
      <xs:attribute name='nmr' type='xs:string'/>
      <xs:attribute name='flow' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
